
.container-book{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  padding:20px;
}
.infinite{
  position:relative;
  width:100%;
  height:115px;
  background:#2271b3;
  transform-origin:bottom;
  transform-style:preserve-3d;
  transform:perspective(500px)rotateX(40deg);
}
.infinite::before{
  content:'';
  position:absolute;
  top:50%;

  left:0;
  transform:translateY(-50%);
  width:100%;
  height:15px;
  animation:animateRoad 10s linear infinite;
  background: linear-gradient(90deg,#fff 0%,#fff 70%,#2271b3 70%,#2271b3 100%);
  background-size:120px;
}
.infinite::after{
  content:'';
  position:absolute;
  bottom:-30px;

  width:100%;
  height:30px;
  background:#2271b3;

  transform-origin: top;
  transform:perspective(500px)rotateX(0deg);
}
@keyframes animateRoad {
  0%{
    background-position: 0;
  }
  100%{
    background-position: -1200px;
  }
}
/* .shadow{
position:absolute;
left:30%;
width:95%;
bottom:-93px;
transform:translateY(-50%);
height:60px;
background: linear-gradient(rgba(0,0,0,0.25),transparent);
} */
.box1{
  position:absolute;
  width:100%;
  /* height:180px; */
  margin-bottom:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect:below 10px linear-gradient(transparent,transparent,transparent,#0006);
  animation:animateBox 1.5s linear infinite;
}
@keyframes animateBox{
  0%{
  transform:translateY(0);
  transition-timing-function: ease;
  }
  40%{
      transform:translateY(60px);
  }
  100%{
    transition-timing-function: ease-out;
      transform:translateY(0px);
  }
}
.square1{
  width:160px;
  height:230px;
  border-radius: 6px;
  background-image: url('https://th.bing.com/th/id/R78876e362c30a446983ff406ebf23b59?rik=9x5Q6bmJ2TUasQ&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780470503607_p0_v1_s1200x630.jpg&ehk=VNHaFd6G3sCRLqEuqQKI8OeUhd02ehAU67Mkz1TTyVQ%3d&risl=&pid=ImgRaw');
  background-size: cover;
  position:relative;
  /* background-color: #fff; */

  animation :animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform:rotate(0deg);

  }
  50%{
    transform:rotate(180deg);

  }
  100%{
    transform:rotate(360deg);

  }
}

/* generi */

.genereb1{
  border-top:3px solid #2271b3;
  border-right:3px solid #2271b3;
  border-bottom:3px solid #2271b3;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px 5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
  position:fixed;
  top:350px;
  left:0;
  height:265px;
  width:40px;
  color:#fff;
  background-color: #2271b3;
 transition: 0.15s;
  z-index: 2222;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.genereb1:hover{
  box-shadow: -3px -3px 6px 0 rgba(0, 0, 0, 0.25),
  3px 3px 5px 0 rgba(255, 255, 255, 0.3);

}
.genereb2{
  border-top:2px solid lightgrey;
  border-right:2px solid lightgrey;
  border-bottom:2px solid lightgrey;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px 5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));

  position:fixed;
  top:350px;
  left:0;
  height:265px;
  width:500px;
  color:#fff;
  background-color: #2271b3;

  z-index: 2222;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.inputmail{
  position:fixed;
  top:370px;
  left:-400px;
   transition:0.1s;
  width:350px;
   outline: none;
   height:40px;
}
.inputmail1{
  position:fixed;
  top:417px;
  left:-400px;
   transition:0.1s;
   width:350px;
   outline: none;
   height:135px;

}
.textt1{
  color:#fff;
  position:fixed;
  top:373px;
   transition:0.1s;
  left:10px;
    animation: textn1 1s linear infinite;
}
.textt2{
  color:#fff;
  position:fixed;
  top:373px;
  left: 15px;
  animation: textn 1s linear infinite;


  }
  @keyframes textn1{
    0%{
      transform:scale(1.0);
    }

  40%{
      transform:scale(1.7);
        text-shadow: 1px 1px 3px #fff;
        color:lightgreen;
    }
    100%{
      transform:scale(1.0);
    }
  }
  @keyframes textn{
    0%{
      transform:scale(1.0);
    }

    50%{
      transform:scale(1.75);
        text-shadow: 1px 1px 3px red;
          color:red;
    }
    100%{
      transform:scale(1.0);
    }
  }
.inputmail2{
  position:fixed;
  top:370px;
  border-radius: 20px;
  left:90px;
  width:350px;
  padding:10px;
  height:40px;
  border: none;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px -16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px -5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
  border:1px solid #fff;
  color:#fff;
}
.inputmail2:hover{
  box-shadow: -3px -3px 6px 0 rgba(0, 0, 0, 0.25),
  3px 3px 5px 0 rgba(255, 255, 255, 0.3);

}
.inputmail2::-webkit-input-placeholder {
   color: lightgrey;
   opacity: 0.5;
   font-size: 12px;
  }

.butsend{
  position:fixed;
    padding:10px;
    border-radius: 6px;
  top:560px;
  left:-400px;
   transition:0.1s;
   width:350px;
 height:40px;
}
.butsend1{
  position:fixed;
    padding:10px;
    border-radius: 20px;
  top:560px;
  left:90px;
    color:#fff;
    width:350px;
  height:40px;
  border: none;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px -16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px -5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
  border:1px solid #fff;
}
.fa-share{
  color:#fff;
}
.butsend1:hover{

  box-shadow: -3px -3px 6px 0 rgba(0, 0, 0, 0.25),
  3px 3px 5px 0 rgba(255, 255, 255, 0.3);

}
.inputmail3{
  position:fixed;
    padding:10px;
    border-radius: 6px;
  top:417px;
   outline: none;
  left:90px;
  width:350px;
  height:135px;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px -16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px -5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));
  border:1px solid #fff;
   color:#fff;
}
.inputmail3:hover{
  box-shadow: -3px -3px 6px 0 rgba(0, 0, 0, 0.25),
  3px 3px 5px 0 rgba(255, 255, 255, 0.3);

}
.genereb1 #genereb{
  position: fixed;
  left:-40px;
    top:480px;
  transform: rotate(270deg);
  font-size: 20px;
  font-weight: bold;
  color:#fff;
}

/* social */
.title-logo{
  height:60px;
  width:120px;
  z-index: 223;
  opacity: 0.9;
  position: fixed;
  top:35px;
  left:calc(50% - 60px);
  background-size: cover;
  transition: all 0.4s ease;
  background-image: url('../img/Background (41).png');
}
.title-logo1{
  opacity: 0.6;
  height:60px;
  width:120px;
  z-index: 223;
  position: fixed;
  top:5px;
  left:calc(50% - 60px);
  background-size: cover;
  background-image: url('../img/Background (41).png');
}
#social div i {
  color:#2271B3;
  font-size: 20px;
}
#social div i:hover{
  transform: scale(1.35);
    box-shadow: 1px 1px 20px #fff;
}
#social{
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:1px solid #2271B3;
  position:absolute;
  right:1px;
  top:100px;
  width:170px;
  height:45px;
  border-radius:20px 0px 0px  20px;
  background-color: #fff;
  z-index: 3333;
  transition: 0.5s;
}
#social:hover{
  box-shadow: 1px 1px 20px #fff;

  width:275px;

  transform: scale(1.05);
}
/* meteo */

.meteo{
  position:fixed;
  z-index: 1111;
  bottom:50px;
  right:100px;


}
.meteo1{
  position:fixed;
  z-index: 1113;
  bottom:50px;
  right:100px;
  width:100px;
  height:100px;

}
.meteo2 {
  position:fixed;
  z-index: 1111;
  bottom:50px;
  right:190px;
  width:370px;
  height:100px;
  display: flex;

  justify-content: center;
  align-items: center;
}
#emoticonetxt{

  animation:espressioni1 2s linear infinite;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color:#2271b3;
 padding:4px 8px;
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
  border:1px solid rgb(34, 113, 179);
}
.meteo1 img{

  animation:espressioni 2s linear infinite;
}
@keyframes espressioni{
  0%{
    transform:scale(1.0);
  }
  25%{
    transform:scale(1.05);
  }
  50%{
    transform:scale(1.1);
  }
  100%{
    transform:scale(1.0);
  }
}
@keyframes espressioni1{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(7deg);
  }
  50%{
    transform:rotate(0deg);
  }
  75%{
    transform:rotate(-7deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.deletee{
  transition: 0.6s;
  display:none;
}
.meteo4 {
  position:fixed;
  z-index: 1113;
  bottom:150px;
  font-weight: bold;
  font-size: 20px;
  right:50px;
  width:20px;
  height:20px;
  color:#2271b3;
  border:none;
  background-color: transparent;
  border-radius: 20px;

}
.container ul li h4 span{
  margin:0 5px;
  color:black;
  font-size: 15px;
}
.container ul li h4 {
  margin:0 4px;
  text-align: center;
  font-size: 15px;
}
/* descrizionelibri */
.descrizione-libri{
  /* background-image: url('../img/o.webp');
  background-size: cover; */
max-height: 105px;
  transition: 0.5s;
  margin-top:40px;
  margin-left:-20px;
  background-color: #F2F2F2;
  border-radius: 6px;
  width:230px;
  overflow: hidden;
  border: 1px solid rgb(34, 113, 179);
position:absolute;
}
/* .descrizione-libri h3:first-child{
color:blue;

}
.descrizione-libri h3:last-child{
  position:relative;
  top:-18px;
color:transparent;

} */
.descrizione-libri h3{

  animation:backvawec22 6s linear infinite;
}

@keyframes backvawec22{
  0%{
  color:blue;
  }
  51%{
    color:blue;
    }
52%{
  color:transparent;
    opacity: 1;
  }

  100%{
    color:transparent;
      opacity: 1;
  }
}
.descrizione-libri h3:last-child{
  position:relative;

  top:-18px;

    animation:backvawec1 6s linear infinite;
}
.descrizione-libri:hover{
transform: scale(1.2);

  animation:backvawe 6s linear infinite;
}
@keyframes backvawe{
  0%{
  max-height: 105px;
  }
  25%{
    max-height: 130px;
  }

  50%{
    max-height: 105px;
  }

  75%{
  max-height: 130px;
  }

  100%{
    max-height: 105px;
  }
}

@keyframes backvawec1{
  0%{
  color:transparent;
    opacity: 1;
  }
  50%{
    color:transparent;
      opacity: 1;
    }
51%{
  color:blue;
  }

  100%{
    color:blue;
  }
}
