
.container-book{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
 padding:20px;
}
.infinite{
  position:relative;
  width:100%;
  height:220px;
  background:#007FFF;
  transform-origin:bottom;
  transform-style:preserve-3d;
  transform:perspective(500px)rotateX(39deg);
}
.infinite::before{
  content:'';
  position:absolute;
  top:50%;

  left:0;
  transform:translateY(-50%);
  width:100%;
  height:15px;
animation:animateRoad 10s linear infinite;
   background: linear-gradient(90deg,#fff 0%,#fff 70%,#007FFF 70%,#007FFF 100%);
  background-size:120px;
}
.infinite::after{
  content:'';
  position:absolute;
bottom:-30px;

  width:100%;
  height:30px;
  background:#007FFF;

  transform-origin: top;
    transform:perspective(500px)rotateX(0deg);
}
@keyframes animateRoad {
  0%{
    background-position: 0;
  }
  100%{
      background-position: -1200px;
  }
}
/* .shadow{
  position:absolute;
  left:30%;
  width:95%;
  bottom:-93px;
    transform:translateY(-50%);
      height:60px;
         background: linear-gradient(rgba(0,0,0,0.25),transparent);
} */
.box1{
  position:absolute;
  width:100%;
  /* height:180px; */
  margin-bottom:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect:below 2px linear-gradient(transparent,transparent,transparent,#0004);
  animation:animateBox 10s linear infinite;
}
@keyframes animateBox{
  0%{
    transform:translateX(0);
  }
  100%{
      transform:translateX(-1px);
  }
}
.square1{
  width:160px;
  height:230px;
  border-radius: 5px;
  background-image: url('https://th.bing.com/th/id/R78876e362c30a446983ff406ebf23b59?rik=9x5Q6bmJ2TUasQ&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780470503607_p0_v1_s1200x630.jpg&ehk=VNHaFd6G3sCRLqEuqQKI8OeUhd02ehAU67Mkz1TTyVQ%3d&risl=&pid=ImgRaw');
  background-size: cover;
  position:relative;
  /* background-color: #fff; */

  animation :animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform:rotate(0deg);
  }
  100%{
      transform:rotate(360deg);
  }
}

/* generi */

.genereb1{
  border-top:3px solid #007FFF;
  border-right:3px solid #007FFF;
  border-bottom:3px solid #007FFF;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
  -5px -5px 5px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.15));

  position:fixed;
  top:370px;
  left:0;
  height:250px;
  width:40px;
  color:#fff;
  background-color: #007FFF;

  z-index: 2222;
  border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.genereb1 #genereb{
 margin-top:150px;
  transform: rotate(270deg);
  font-size: 25px;
  font-weight: bold;
  color:#fff;
}
